/* styles.css */
.login-button {
    -fx-background-color: #B0D699; /* Normal state color */
    -fx-text-fill: black; /* Text color */
    -fx-cursor: hand; /* Change cursor to hand when hovering */
}

.login-button:clicked {
    -fx-background-color: #93B97C; /* Color when clicked */
}

.login-button:hover {
    -fx-background-color: #A5CE8C; /* Color when hovered */
}
.gradient-pane { /*got sick of scene builder*/
    -fx-background-color:linear-gradient(to top left, #A3EC4B 10%, #E2D86B 30%, #E09525 100%);
}
